Repository neuralmagic/helm-charts: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, removestar, safety-production-dependencies-check

black:
  name: black
  language: system
  entry: black
  args:
  - helm_charts_dev
  - tests

flake8:
  name: flake8
  language: python
  entry: flake8p
  args:
  - helm_charts_dev
  - tests
  additional_dependencies:
  - flake8-typing-imports
  - flake8-comprehensions
  - flake8-eradicate
  - flake8-spellcheck
  - dlint
  - darglint
  - mccabe
  - pep8-naming

removestar:
  name: removestar
  language: system
  entry: removestar
  args:
  - --in-place
  - helm_charts_dev
  - tests

safety-production-dependencies-check:
  name: Safety production dependencies check
  entry: safety
  args:
  - check
  - --policy-file=.safety-policy.yml
  - --full-report
  - --file
  language: system

make style
  charts/nm-vllm-grafana-dashboards/dashboards/default-dashboard.json
  charts/nm-vllm-grafana-dashboards/templates/_helpers.tpl
  charts/nm-vllm-production-monitoring/templates/_helpers.tpl
  charts/nm-vllm-production-monitoring/templates/grafana/configmap-datasources.yaml
  charts/nm-vllm-production-monitoring/values.yaml
  charts/nm-vllm/templates/_helpers.tpl
Due: none

Iterate on documentation
  charts/nm-vllm-grafana-dashboards/Chart.yaml
  charts/nm-vllm-grafana-dashboards/README.md
  charts/nm-vllm-grafana-dashboards/README.md.gotmpl
  charts/nm-vllm-grafana-dashboards/values.yaml
Due: none

Add basic test for nm-vllm-grafana-dashboards chart
  charts/nm-vllm-grafana-dashboards/dashboards/default.json
  charts/nm-vllm-grafana-dashboards/templates/config-map-list.yaml
  tests/charts/nm-vllm-grafana-dashboards/conftest.py
  tests/charts/nm-vllm-grafana-dashboards/test_config_map_list.py
Due: black, flake8, removestar

Move tests around to make more conftest.py possible
  tests/charts/__init__.py
  tests/charts/nm_vllm/__init__.py
  tests/charts/nm_vllm/conftest.py
  tests/charts/nm_vllm/test_deployment.py
  tests/charts/nm_vllm/test_notes.py
  tests/charts/nm_vllm/test_service.py
  tests/charts/nm_vllm_grafana_dashboards/__init__.py
  tests/charts/nm_vllm_grafana_dashboards/conftest.py
  tests/charts/nm_vllm_grafana_dashboards/test_config_map_list.py
Due: black, flake8, removestar

add chart.lock and charts directory to ignore files
  .gitignore
  .helmignore
Due: none

Move tests around so they can be python packages
  tests/charts/__init__.py
  tests/charts/nm_vllm/__init__.py
  tests/charts/nm_vllm/conftest.py
  tests/charts/nm_vllm/test_deployment.py
  tests/charts/nm_vllm/test_notes.py
  tests/charts/nm_vllm/test_service.py
Due: black, flake8, removestar

Document a couple of undocumented values
  charts/nm-vllm-grafana-dashboards/README.md
  charts/nm-vllm-grafana-dashboards/values.yaml
Due: none

Add more labels to dashboard config maps
  charts/nm-vllm-grafana-dashboards/templates/_helpers.tpl
  charts/nm-vllm-grafana-dashboards/templates/config-map-list.yaml
  tests/charts/nm_vllm_grafana_dashboards/test_config_map_list.py
Due: black, flake8, removestar

Try to improve description
  charts/nm-vllm-grafana-dashboards/Chart.yaml
Due: none

Add a link
  charts/nm-vllm-grafana-dashboards/README.md
  charts/nm-vllm-grafana-dashboards/README.md.gotmpl
Due: none

Relocate comment and exclude from rendered template
  charts/nm-vllm-grafana-dashboards/templates/config-map-list.yaml
Due: none

Fix some incorrect test names
  tests/charts/nm_vllm/test_deployment.py
  tests/charts/nm_vllm/test_service.py
  tests/charts/nm_vllm_grafana_dashboards/test_config_map_list.py
Due: black, flake8, removestar

Ensure each grafana dashboard should get a unique name
  charts/nm-vllm-grafana-dashboards/templates/config-map-list.yaml
  tests/charts/nm_vllm_grafana_dashboards/test_config_map_list.py
Due: black, flake8, removestar

Add values.schema.json to nm-vllm-grafana-dashboards
  charts/nm-vllm-grafana-dashboards/values.schema.json
Due: none

Fix some incorrect test release names
  tests/charts/nm_vllm/test_deployment.py
  tests/charts/nm_vllm/test_service.py
Due: black, flake8, removestar

Add missing nm-vllm values to values.schema.json
  charts/nm-vllm/values.schema.json
  tests/charts/nm_vllm/conftest.py
  tests/charts/nm_vllm/test_chart.py
  tests/charts/nm_vllm/test_deployment.py
  tests/charts/nm_vllm/test_service.py
  tests/test_helpers/__init__.py
  tests/test_helpers/test_assertions.py
Due: black, flake8, removestar

Test values.yaml and values.schema.json align
  tests/charts/nm_vllm_grafana_dashboards/conftest.py
  tests/charts/nm_vllm_grafana_dashboards/test_chart.py
  tests/charts/nm_vllm_grafana_dashboards/test_config_map_list.py
Due: black, flake8, removestar

test if labels are configurable
  .gitignore
  .helmignore
  tests/charts/nm_vllm_grafana_dashboards/test_config_map_list.py
Due: black, flake8, removestar

fix dumb thing
  tests/charts/nm_vllm_grafana_dashboards/test_config_map_list.py
Due: black, flake8, removestar

Fix name of Chart.lock in ignore files
  .gitignore
  .helmignore
Due: none

Fix style
  tests/charts/nm_vllm_grafana_dashboards/test_config_map_list.py
Due: black, flake8, removestar

Add grafana dashboards chart (#10)
  .gitignore
  charts/nm-vllm-grafana-dashboards/.helmignore
  charts/nm-vllm-grafana-dashboards/Chart.yaml
  charts/nm-vllm-grafana-dashboards/README.md
  charts/nm-vllm-grafana-dashboards/README.md.gotmpl
  charts/nm-vllm-grafana-dashboards/dashboards/default.json
  charts/nm-vllm-grafana-dashboards/templates/_helpers.tpl
  charts/nm-vllm-grafana-dashboards/templates/config-map-list.yaml
  charts/nm-vllm-grafana-dashboards/values.schema.json
  charts/nm-vllm-grafana-dashboards/values.yaml
  tests/charts/nm_vllm_grafana_dashboards/__init__.py
  tests/charts/nm_vllm_grafana_dashboards/conftest.py
  tests/charts/nm_vllm_grafana_dashboards/test_chart.py
  tests/charts/nm_vllm_grafana_dashboards/test_config_map_list.py
Due: black, flake8, removestar

Bump nm-vllm chart version
  charts/nm-vllm/Chart.yaml
Due: none

Update index.yaml
  index.yaml
Due: none

update to use newly released grafana dashboards chart
  charts/nm-vllm-production-monitoring/Chart.yaml
Due: none

Sync nm-vllm-grafana-dashboards with main
  charts/nm-vllm-grafana-dashboards/README.md
  charts/nm-vllm-grafana-dashboards/README.md.gotmpl
  charts/nm-vllm-grafana-dashboards/dashboards/default-dashboard.json
  charts/nm-vllm-grafana-dashboards/templates/_helpers.tpl
  charts/nm-vllm-grafana-dashboards/templates/grafana/configmap-dashboards.yaml
Due: none

Move comment to top and hide from rendered templates
  charts/nm-vllm-production-monitoring/templates/grafana/configmap-datasources.yaml
Due: none

Move config map resource to non-grafana path
  charts/nm-vllm-production-monitoring/templates/config-map-datasources.yaml
Due: none

Upgrade pytest-helm-templates==0.0.1a5
  pyproject.toml
  requirements.txt
Due: safety-production-dependencies-check

DRY creation of common chart test fixtures
  tests/charts/nm_vllm/conftest.py
  tests/charts/nm_vllm_grafana_dashboards/conftest.py
  tests/test_helpers/__init__.py
  whitelist.txt
Due: black, flake8, removestar

Remove unneeded dependency value override
  charts/nm-vllm-production-monitoring/values.yaml
Due: none

Test dependency overrides in nm-vllm-production-monitoring chart
  tests/charts/nm_vllm_production_monitoring/conftest.py
  tests/charts/nm_vllm_production_monitoring/test_dependency_values_overrides.py
  tests/conftest.py
  tests/test_helpers/__init__.py
  tests/test_helpers/test_assertions.py
  whitelist.txt
Due: black, flake8, removestar

Organize values.yaml
  charts/nm-vllm-production-monitoring/README.md
  charts/nm-vllm-production-monitoring/values.yaml
Due: none

Move datasources label and labelValue values
  charts/nm-vllm-production-monitoring/README.md
  charts/nm-vllm-production-monitoring/templates/config-map-datasources.yaml
  charts/nm-vllm-production-monitoring/values.yaml
Due: none

Install dependencies before running nm-vllm-production-monitoring chart tests
  pyproject.toml
  requirements.txt
  tests/charts/nm_vllm_production_monitoring/conftest.py
  tests/conftest.py
Due: black, flake8, removestar, safety-production-dependencies-check

DRY HelmRunner creation logic
  tests/charts/nm_vllm_production_monitoring/conftest.py
  tests/conftest.py
  tests/test_helpers/__init__.py
Due: black, flake8, removestar

Remove unnecessary leading underscore from variable name
  tests/test_helpers/test_assertions.py
Due: black, flake8, removestar

Remove unneeded variable from template
  charts/nm-vllm-production-monitoring/templates/config-map-datasources.yaml
Due: none

Add templates for calculating grafana datasources label and labelValue values
  charts/nm-vllm-production-monitoring/templates/_helpers.tpl
  charts/nm-vllm-production-monitoring/templates/config-map-datasources.yaml
  charts/nm-vllm-production-monitoring/values.yaml
  tests/charts/nm_vllm_production_monitoring/conftest.py
  tests/charts/nm_vllm_production_monitoring/test_config_map.py
  tests/charts/nm_vllm_production_monitoring/test_dependency_values_overrides.py
Due: black, flake8, removestar

Add default for datasourceScrapeInterval to values.yaml
  charts/nm-vllm-production-monitoring/templates/config-map-datasources.yaml
  charts/nm-vllm-production-monitoring/values.yaml
Due: none

Path conditions:
  black: any of: \.py$, but not: docs|.git|.tox
  flake8: any of: \.py$, but not: docs|.git|.tox
  removestar: any of: \.py$, but not: docs|.git|.tox
  safety-production-dependencies-check: any of: requirements.txt, but not: docs|.git|.tox
