Repository neuralmagic/helm-charts: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, removestar, safety-production-dependencies-check

.pre-commit-config.yaml:

exclude: 'docs|.git|.tox'
default_stages: [commit]
default_language_version:
  python: python3
fail_fast: false

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        language: system
        entry: black
        args: ["helm_charts_dev" , "tests"]
        types: [python]
      - id: flake8
        name: flake8
        language: python
        entry: flake8p
        args: ["helm_charts_dev" , "tests"]
        types: [python]
        additional_dependencies:
          - flake8-typing-imports
          - flake8-comprehensions
          - flake8-eradicate
          - flake8-spellcheck
          - dlint
          - darglint
          - mccabe
          - pep8-naming
      - id: mypy
        name: Mypy check
        entry: mypy
        language: system
        args: ["helm_charts_dev" , "tests"]
        pass_filenames: false
      - id: isort
        name: isort
        entry: isort
        args: ["helm_charts_dev" , "tests"]
        language: system
      - id: removestar
        name: removestar
        language: system
        entry: removestar
        args: ["--in-place", "helm_charts_dev" , "tests"]
        types: [python]
      - id: safety-production-dependencies-check
        name: Safety production dependencies check
        entry: safety
        args: [check, --policy-file=.safety-policy.yml, --full-report, --file]
        language: system
        files: requirements.txt
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
        exclude: README.md|VERSION
      - id: check-docstring-first
      - id: debug-statements
      - id: name-tests-test
        args: ['--pytest-test-first']
        exclude: factories.py
      - id: requirements-txt-fixer
      - id: check-toml
      - id: check-json
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-ast
      - id: check-symlinks

update schema and values
  charts/nm-vllm-grafana-dashboards/dashboards/default-dashboard.json
  charts/nm-vllm-grafana-dashboards/templates/grafana/configmap-dashboards.yaml
  charts/nm-vllm-production-monitoring/values.schema.json
  charts/nm-vllm-production-monitoring/values.yaml
  charts/nm-vllm/values.schema.json
Due: none

Give grafana dashboards config map list a name
  charts/nm-vllm-grafana-dashboards/templates/config-map-list.yaml
Due: none

Update docs
  charts/nm-vllm-production-monitoring/README.md
Due: none

update schema values descriptions and ordering
  charts/nm-vllm-production-monitoring/values.schema.json
Due: none

make quality and make style
  charts/nm-vllm-production-monitoring/values.schema.json
  charts/nm-vllm-production-monitoring/values.yaml
Due: none

make docs
  charts/nm-vllm-production-monitoring/README.md
Due: none

Upgrade pytest-helm-templates and use dependency_update_if_missing for speedup
  pyproject.toml
  requirements.txt
  tests/charts/nm_vllm_production_monitoring/conftest.py
  tests/conftest.py
Due: black, flake8, removestar, safety-production-dependencies-check

Change chart fixtures to package scope
  tests/test_helpers/__init__.py
Due: black, flake8, removestar

Add dash for consistency
  charts/nm-vllm-production-monitoring/templates/_helpers.tpl
Due: none

Fix a couple of fixture scopes
  tests/charts/nm_vllm_production_monitoring/conftest.py
Due: black, flake8, removestar

add tests for configurable values, refactor datasource value structure
  charts/nm-vllm-production-monitoring/templates/config-map-datasources.yaml
  charts/nm-vllm-production-monitoring/values.schema.json
  charts/nm-vllm-production-monitoring/values.yaml
  tests/charts/nm_vllm_production_monitoring/test_config_map.py
Due: black, flake8, removestar

make style
  tests/charts/nm_vllm_production_monitoring/test_config_map.py
Due: black, flake8, removestar

Make grafana dashboards chart able to take grafana values
  charts/nm-vllm-grafana-dashboards/README.md
  charts/nm-vllm-grafana-dashboards/templates/_helpers.tpl
  charts/nm-vllm-grafana-dashboards/templates/config-map-list.yaml
  charts/nm-vllm-grafana-dashboards/values.schema.json
  charts/nm-vllm-grafana-dashboards/values.yaml
  pyproject.toml
  requirements.txt
  tests/charts/nm_vllm_grafana_dashboards/test_config_map_list.py
  tests/conftest.py
  whitelist.txt
Due: black, flake8, removestar, safety-production-dependencies-check

Rename fixtures to be specific to dependencies
  tests/charts/nm_vllm_production_monitoring/conftest.py
  tests/charts/nm_vllm_production_monitoring/test_config_map.py
  tests/charts/nm_vllm_production_monitoring/test_dependency_values_overrides.py
Due: black, flake8, removestar

Add missing whitelist items
  whitelist.txt
Due: none

Update and test values.schema.json
  charts/nm-vllm-production-monitoring/values.schema.json
  charts/nm-vllm-production-monitoring/values.yaml
  tests/charts/nm_vllm_production_monitoring/test_chart.py
Due: black, flake8, removestar

Bump version since values.yaml API changed
  charts/nm-vllm-grafana-dashboards/Chart.yaml
Due: none

Condense a line
  tests/conftest.py
Due: black, flake8, removestar

Refer to grafana default value instead of hardcoding value
  tests/charts/nm_vllm_grafana_dashboards/test_config_map_list.py
Due: black, flake8, removestar

Make grafana dashboards chart able to take grafana values (#12)
  charts/nm-vllm-grafana-dashboards/Chart.yaml
  charts/nm-vllm-grafana-dashboards/README.md
  charts/nm-vllm-grafana-dashboards/templates/_helpers.tpl
  charts/nm-vllm-grafana-dashboards/templates/config-map-list.yaml
  charts/nm-vllm-grafana-dashboards/values.schema.json
  charts/nm-vllm-grafana-dashboards/values.yaml
  pyproject.toml
  requirements.txt
  tests/charts/nm_vllm_grafana_dashboards/test_config_map_list.py
  tests/conftest.py
  whitelist.txt
Due: black, flake8, removestar, safety-production-dependencies-check

Update index.yaml
  index.yaml
Due: none

Bump nm-vllm-grafana-dashboards dependency version
  charts/nm-vllm-production-monitoring/Chart.yaml
Due: none

Simplify release workflow to just release charts
  .github/workflows/release.yaml
Due: none

Rename scrapeInterval to timeInterval and test datasource config map defaults
  charts/nm-vllm-production-monitoring/README.md
  charts/nm-vllm-production-monitoring/templates/config-map-datasources.yaml
  charts/nm-vllm-production-monitoring/values.schema.json
  charts/nm-vllm-production-monitoring/values.yaml
  tests/charts/nm_vllm_production_monitoring/test_config_map.py
Due: black, flake8, removestar

Chomp whitespace before config map
  charts/nm-vllm-production-monitoring/templates/config-map-datasources.yaml
Due: none

Compulsive sort
  charts/nm-vllm-production-monitoring/templates/config-map-datasources.yaml
Due: none

Move helper method lower
  tests/charts/nm_vllm_production_monitoring/conftest.py
Due: black, flake8, removestar

Make datasource isDefault configurable
  charts/nm-vllm-production-monitoring/README.md
  charts/nm-vllm-production-monitoring/templates/config-map-datasources.yaml
  charts/nm-vllm-production-monitoring/values.schema.json
  charts/nm-vllm-production-monitoring/values.yaml
  tests/charts/nm_vllm_production_monitoring/test_config_map.py
Due: black, flake8, removestar

Make datasource name configurable
  charts/nm-vllm-production-monitoring/README.md
  charts/nm-vllm-production-monitoring/templates/config-map-datasources.yaml
  charts/nm-vllm-production-monitoring/values.schema.json
  charts/nm-vllm-production-monitoring/values.yaml
  tests/charts/nm_vllm_production_monitoring/test_config_map.py
Due: black, flake8, removestar

Try to be smarter about determining prometheus server URL
  charts/nm-vllm-production-monitoring/templates/_helpers.tpl
  charts/nm-vllm-production-monitoring/templates/config-map-datasources.yaml
  charts/nm-vllm-production-monitoring/values.schema.json
  charts/nm-vllm-production-monitoring/values.yaml
  tests/charts/nm_vllm_production_monitoring/test_config_map.py
Due: black, flake8, removestar

Add test to check more datasource URL with more prometheus server names
  tests/charts/nm_vllm_production_monitoring/test_prometheus_server_url.py
Due: black, flake8, removestar

Discontinue use of ConfigMapList
  charts/nm-vllm-grafana-dashboards/Chart.yaml
  charts/nm-vllm-grafana-dashboards/templates/config-map-list.yaml
  tests/charts/nm_vllm_grafana_dashboards/test_config_map_list.py
Due: black, flake8, removestar

Discontinue use of ConfigMapList (#13)
  charts/nm-vllm-grafana-dashboards/Chart.yaml
  charts/nm-vllm-grafana-dashboards/templates/config-map-list.yaml
  tests/charts/nm_vllm_grafana_dashboards/test_config_map_list.py
Due: black, flake8, removestar

Make it possible to disable the prometheus datasource configured in grafana
  charts/nm-vllm-production-monitoring/README.md
  charts/nm-vllm-production-monitoring/templates/config-map-datasources.yaml
  charts/nm-vllm-production-monitoring/values.schema.json
  charts/nm-vllm-production-monitoring/values.yaml
  tests/charts/nm_vllm_production_monitoring/test_config_map.py
Due: black, flake8, removestar

Make it possible to disable some sub-charts
  charts/nm-vllm-production-monitoring/Chart.yaml
  charts/nm-vllm-production-monitoring/README.md
  charts/nm-vllm-production-monitoring/values.schema.json
  charts/nm-vllm-production-monitoring/values.yaml
  tests/charts/nm_vllm_production_monitoring/test_chart.py
Due: black, flake8, removestar

Use nm-vllm-grafana-dashboards==1.0.1
  charts/nm-vllm-production-monitoring/Chart.yaml
Due: none

Add full-suite-demo example to nm-vllm-production-monitoring chart
  charts/nm-vllm-production-monitoring/examples/full-suite-demo/README.md
  charts/nm-vllm-production-monitoring/examples/full-suite-demo/README.md.gotmpl
  charts/nm-vllm-production-monitoring/examples/full-suite-demo/values.yaml
Due: none
